@media (max-width: 780px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 630px) {
  .hero .container {
    flex-direction: column;
    text-align: center;
  }

  .hero .container img {
    order: -1;
  }

  .form-group {
    display: block;
  }

  .form-group input {
    width: 100%;
  }
}
